[user]
    email = clinton@dreisbach.us
    name = Clinton Dreisbach
    initials = cnd
[github]
    user = cndreisbach
[core]
    excludesfile = ~/.gitignore_global
    pager = less
    editor = "nano -r 72"
[credential]
    helper = osxkeychain
[include]
    path = ~/.gitconfig.local
[alias]
	aliases = config --get-regexp ^alias\\.
    branches = branch -a
    tags = tag
    stashes = stash list
    unstage = reset -q HEAD --
    discard = checkout --
    amend = commit --amend
    uncommit = reset --mixed HEAD~
    new-branch = checkout -b
    cleanup = !git remote prune origin && git gc && git stash clear
    diffall = diff --cached
    graph = log --graph --branches --remotes --tags  --format=format:'%Cgreen%h %Creset %s (%cN, %cr) %Cred%d'
    ls = ls-files
    force-push = push --force-with-lease
    undo = reset --hard
    who = shortlog -n -s --no-merges
    generate-ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
    remove-old-branches = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
    rmb = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
    show-ignored = ls-files --others -i --exclude-standard
[color]
    ui = auto
    diff = auto
[format]
    # 4436819 [23 hours ago] (Gabe Berke-Williams) One line prompt
    pretty = %C(magenta)%h%Creset %Cgreen[%cr]%Creset (%an) %s
[apply]
    whitespace = fix
[help]
    autocorrect = 1
[push]
    default = tracking
[branch]
    autosetupmerge = true
    autosetuprebase = remote
[rebase]
    autostash = 1
[commit]
    #template = "~/.gitcommit.txt"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	TrustExitCode = true
[ghq]
	root = ~/repos
