[submodule "lib/gherkin"]
	path = lib/gherkin
	url = https://github.com/alandipert/gherkin.git
[submodule "lib/z"]
	path = lib/z
	url = https://github.com/rupa/z.git
[submodule "lib/autoenv"]
	path = lib/autoenv
	url = https://github.com/kennethreitz/autoenv.git
