;; User keymap
;; -----------------------------
;; Keymaps are stored as a set of diffs that are merged together together
;; to create the final set of keys. You can modify these diffs to either add
;; or subtract bindings.
;;
;; Like behaviors, keys are bound by tag. When objects with those tags are active
;; the key bindings are live. Keys can be bound to any number of Light Table commands,
;; allowing you the flexibility to execute multiple operations together. To see a list
;; of all the commands you can execute, start typing a word related to the thing you
;; want to do in between the square brackets (e.g. type "editor").

{:+ {:app {}
     :editor {"alt-w" [:editor.watch.watch-selection]
              "alt-shift-w" [:editor.watch.unwatch]
              "cmd-;" [:toggle-comment-selection]
              "cmd-d" [:editor.doc.toggle]
              "ctrl-d" [:editor.delete-char-right]
              "ctrl-k" [:editor.delete-line]
              "ctrl-/" [:editor.select-line]

              "cmd-`" [:workspace.show]
              "ctrl-`" [:toggle-console]

              "cmd-/" [:smart-indent-selection]

              ;; paredit
              "ctrl-shift-9" [:paredit.grow.left]
              "ctrl-shift-0" [:paredit.grow.right]
              "ctrl-shift-[" [:paredit.shrink.left]
              "ctrl-shift-]" [:paredit.shrink.right]

              "ctrl-shift-left" [:paredit.shrink.right]
              "ctrl-shift-right" [:paredit.grow.right]

              "ctrl-shift-'" [:paredit.unwrap.parent]

              "ctrl-'" [:paredit.select.parent]
              }}}
