{
:desc "My personal behaviors and keymappings",
 :version "0.0.1",
 :source "",
 :behaviors "cnd.behaviors",
 :dependencies {
"CSS" "0.0.4",
 "Clojure" "0.0.8",
 "HTML" "0.0.2",
 "Javascript" "0.0.1",
 "Paredit" "0.0.4",
 "Python" "0.0.3",
 "Rainbow" "0.0.8",
 "base16 themes" "0.1.0"},
 :author "Clinton Dreisbach",
 :name "cnd"}
